<div class="card card-profile text-center">
<h2><%= "#{@profile.first_name}" %><%= " #{@profile.last_name}"%></h2>
<h3><%= "Phone Number: #{@profile.personal_phone}" %></h3>
<h3><%= "Adress: #{@profile.personal_address}" %></h3>

<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_profiles_path(@profile)%>
<%= link_to 'Delete', profiles_path(@profile), method: :delete, data: { confirm: "Are You Sure?" }%>
</div>
