<h1>Current Accounts</h1>
<ul>
<%= form_tag shares_path do %>
  <% @accounts.each do |account| %>
    <li> <%= account.name%> | <%= account.url%> </li>
  <%= link_to "Delete", account_path(account.id), :method => :delete %>
<%= link_to "Edit", edit_account_path(account.id)  %>
  <% end %>
<% end %>
</ul>

<%= link_to "Add New account", new_account_path %>






