<div class="card card-profile text-center">
<h1>Current Accounts</h1>
</br>

<ul class="list-unstyled">
<%= form_tag shares_path do %>
  <% @accounts.each do |account| %>
    <li><h3><%= account.name%> | <%= account.url%></h3> </li>
  <%= link_to "Delete", account_path(account.id), :method => :delete %>
<%= link_to "Edit", edit_account_path(account.id)  %>
  <% end %>
<% end %>
</ul>
</br>
</br>

<%= link_to "Add New account", new_account_path %>
</div>






